# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#PSoC Creator specific types
.DS_Store
*.cywrk.*
*.cyprj.*
*.cycdx
*.cyfit
*.rpt
*.uvopt
*.uvproj
*_timing.html
*.cydsn/codegentemp
*.cydsn/DP8051
*.cydsn/Generated_Source

*.cydsn/Generated_Source/(chip name)/*
!.cydsn/Generated_Source/(chip name)/*.hex